{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

<!--The username and password fields in this template take the size as an argument that will be
added to the <input> HTML element as an attribute. This is how you can also attach CSS
classes or IDs to form fields.-->

<!-- The form.hidden_tag() template argument generates a hidden field that includes a token
that is used to protect the form against CSRF attacks. -->